<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deposit</title>
</head>
<body>
<a href="TransactionPage.html">Return</a>
<div class="text">
    <h1>Please enter the required information</h1>
    <form action="desposit">
        <input type="text" name="Nameto" required placeholder="recipient" >
        <input type="text" name="IBANto" required placeholder="IBAN">
        <input type="number" name="amount" min="0.00" required placeholder="Amount">
        <input type="submit">
    </form>
</div>
</body>
</html>