<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link th:href="@{/css/transaction.css}" rel="stylesheet" type="text/css"/>

    <title>Perform</title>
</head>
<body>
<div class="logo">
    <p>REST Banking</p>
</div>
<hr class="header-line"/>
<header class="link-container"/>
    <div class="links">
        <a href="transhome">Home</a>
        <a href="#">Logout</a>
    </div>
<hr class="header-line"/>
<div class="user-container">
    <div class="user-information">
        <p>Logged in as: </p>
    </div>
</div>
<br /><p th:text="${errormessage}"></p>
<div class="container-content">
    <p>Please enter the required fields</p>
    <form action="#" th:action="@{/transaction}" th:object="${transaction}" method="post">
        <p>Id: <input type="number" th:field="*{id}" /></p>
        <p>From: <input type="text" th:field="*{from}" /></p>
        <p>To: <input type="text" th:field="*{to}" /></p>
        <p>Amount: <input type="number" th:field="*{amount}" /></p>
        <input type="submit" value="Submit" /> <input type="reset" value="Reset" />
    </form>
</div>



<p th:text="${warning}"></p>
</body>
</html>
