<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="css/transaction.css"/>
</head>
<body>
<div class="logo">
    <p>REST Banking</p>
</div>
<hr class="header-line"/>
<header class="link-container">
        <div class="links">
            <a href="transhome">Home</a>
            <a href="#">Logout</a>
        </div>
</header>
<hr class="header-line"/>
<div class="user-container">
    <div class="user-information">
        <p>Logged in as: </p>
    </div>
</div>
<div class="container-content">
    <div class="content-button">
        <a href="deposit" class="btn">Deposit</a>
        <a href="withdraw" class="btn">Withdraw</a>
        <a href="log" class="btn">Log</a>
        <a href="transaction" class="btn">Transaction</a>
    </div>
</div>
</body>
</html>